<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QuotingDojo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Here are the awesome quotes!</h2>
        <% for (q of all_quotes) { %>
            <div style="border-bottom: 1px solid black">
                <p>"<%= q.quote %>"</p>
                <p style="margin-left: 20px"> - <%= q.author %> at <%= q.createdAt %> </p>
            </div>
        <% } %>
    </body>
</html>